<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Блог{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="container">
    <a href="">КОД</a>
    <a href="">Главная</a>
    <a href="">Войти</a>
    <a href="{% url 'register' %}">Регистрация</a>
</nav>
<main class="container">
    <H1>емаёоу</H1>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>