<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Блог{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="container">
    <a href="{% url 'index' %}">КОД</a>
    <a href="{% url 'index' %}">Главная</a>
    {% if user.is_authenticated %}
    <a href="">Профиль</a>
    <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
    <a href="{% url 'login' %}">Войти</a>
    <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</nav>
<main class="container">
    <H1>емаёоу</H1>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>