{% extends 'index.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1>Ваш профиль</h1>
<br>
<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Аватар" class="img-fluid rounded-circle" style="max-width: 200px;">
            {% else %}
            <img src="/avatar/default.png" alt="Стандартный аватар" class="img-fluid rounded-circle" style="max-width: 200px;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <p class="h4">{{ user.username }}</p>
            <p class="h5">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="text-muted">{{ user.email }}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">изменить профиль</a>
            <a href="{% url 'create_post' %}" class="btn btn-primary">создать посt</a>
        </div>
    </div>
</div>

{% endblock %}